
@{
    ViewBag.Title = "Index";
  
}

@Html.Action("HeadPartial", "Home")
@Html.Action("Navbar", "Home")
<div class="page-content">
    <div class="container">
        <div class="resume-container">

            @Html.Action("Kunye", "Home")

            @Html.Action("Hakkimizda", "Home")

            @Html.Action("Yetenekler", "Home")

            @Html.Action("Tecrubeler", "Home")

            @Html.Action("Egitimler", "Home")

            @Html.Action("Portfolyo", "Home")

            @Html.Action("Referanslar", "Home")

            @Html.Action("Iletisim", "Home")



        </div>
    </div>
</div>
@Html.Action("FooterPartial", "Home")
