@model List<CV.Models.Referanslar>
@{
    int num = 0;
}
<div class="shadow-1-strong bg-white my-5 p-5" id="references">
    <div class="reference-section">
        <h2 class="h2 fw-light mb-4">References</h2>

        @for (int i = 0; i < Math.Ceiling((double)Model.Count) / 2; i++)
        {


            <div class="row">
                @for (int j = 0; j < 2; j++)
                {
                    if (i % 2 == 0)
                    {
                        <div class="col-md-6">
                            <div class="d-flex mb-2">
                                <div class="avatar"><img src="~/Cv_Referans_Foto/@Model[num].Resim" width="60" height="60" /></div>
                                <div class="header-bio m-3 mb-0">
                                    <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">@Model[num].Ad</h3>
                                    <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">@Model[num].Meslek / @Model[num].Firma</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <i class="text-secondary fas fa-quote-left"></i>
                                <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">@Model[num].Yorum<br /></p>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (num < Model.Count)
                        {
                            <div class="col-md-6">
                                <div class="d-flex mb-2">
                                    <div class="avatar"><img src="~/Cv_Referans_Foto/@Model[num].Resim" width="60" height="60" /></div>
                                    <div class="header-bio m-3 mb-0">
                                        <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">@Model[num].Ad</h3>
                                        <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">@Model[num].Meslek / @Model[num].Firma</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <i class="text-secondary fas fa-quote-left"></i>
                                    <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">@Model[num].Yorum<br /></p>
                                </div>
                            </div>
                        }


                    }
                 
                    num++;



                }
            </div>
        }
    </div>
</div>
