
@using CV.Models
@model List<Tecrube>
<div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
        <h2 class="h2 fw-light mb-4">İş Tecrübeleri</h2>
        @foreach (var x in Model)
        {
            <div class="timeline">

                <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                    <div class="timeline-head px-4 pt-3">
                        <div class="h5">@x.YapilanIs <span class="text-muted h5">/ @x.IsyeriAdi</span></div>
                    </div>
                    <div class="timeline-body px-4 pb-4">
                        <div class="text-muted text-small mb-2">@x.BaslangicTarihi - @x.Bitistarihi</div>

                        <div>@x.Aciklama</div>
                    </div>
                </div>




            </div>
        }
    </div>
</div>
